.login-page-container {
    padding: 0;
    overflow: hidden; /* Evita barras de scroll innecesarias */
}

.login-branding-col {
    /* Usando la imagen local desde la carpeta assets */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/images/Logol.jpg');
    background-size: cover;
    background-position: center;
}

.login-form-wrapper {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

.extra-links a {
  color: var(--primary-color, #d8a404);
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.extra-links a:hover {
  text-decoration: none;
}
