<div class="gestion-container">
    <div class="header-section">
        <h2 class="titulo-principal">
            Pedidos Recibidos
        </h2>
    </div>
</div>
    <div *ngIf="pedidos.length === 0" class="alert alert-info text-center rounded-pill">
        <i class="bi bi-info-circle me-2"></i> No hay pedidos por el momento.
    </div>

    <div *ngIf="pedidos.length > 0" class="table-responsive">
        <table class="table table-hover table-bordered align-middle">
            <thead class="table-light text-center">
                <tr class="align-middle">
                    <th>ID</th>
                    <th>Fecha y Hora</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pedido of pedidos">
                    <td class="text-center fw-semibold">#{{ pedido.id }}</td>
                    <td>{{ pedido.fechaHora | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>S/ {{ pedido.total.toFixed(2) }}</td>
                    <td>
                        <span class="badge rounded-pill px-3 py-2" [ngClass]="{
                    'bg-warning text-dark': pedido.estado === 'PENDIENTE',
                    'bg-info text-dark': pedido.estado === 'EN_PREPARACION',
                    'bg-success': pedido.estado === 'LISTO',
                    'bg-primary': pedido.estado === 'ENTREGADO',
                    'bg-danger': pedido.estado === 'CANCELADO'
                }">
                            {{ pedido.estado }}
                        </span>
                    </td>
                    <td>
                        <select class="form-select form-select-sm" [ngModel]="pedido.estado"
                            (change)="cambiarEstado(pedido, $event)">
                            <option *ngFor="let estado of estadosPosibles" [value]="estado">
                                {{ estado }}
                            </option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>