@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.hero-section {
    min-height: 80vh;
    /* Cambiamos la URL por una ruta local a tu carpeta de assets */
    /* ¡IMPORTANTE! Reemplaza 'nombre-de-tu-imagen.jpg' por el nombre de tu archivo. */
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/images/Logoc.jpg');

    /* 'contain' asegura que se vea toda la imagen, aunque deje espacios */
    background-size: contain;

    /* 'no-repeat' evita que la imagen se repita si es más pequeña que el contenedor */
    background-repeat: no-repeat;

    background-position: center;
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
    font-size: 2rem;
    color: #212529;
}
