<ng-container *ngIf="!isLoggedIn">
  <app-cabecera></app-cabecera>
</ng-container>

<ng-container *ngIf="isLoggedIn">
  <app-cabecera-cliente *ngIf="userRole === 'CLIENTE'"></app-cabecera-cliente>
  <app-cabecera-admin *ngIf="userRole === 'ADMIN'"></app-cabecera-admin>
  <app-cabecera *ngIf="userRole !== 'CLIENTE' && userRole !== 'ADMIN'"></app-cabecera>
</ng-container>

<main [class.main-content]="isLoggedIn" [class.logged-in]="isLoggedIn" class="pt-5 mt-4">
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>
